<%= @raudio %>
<%= @nexus %>

<table>
	<tr>
		<td>Tracks</td>
		<td>Start</td>
		<td>Stop</td>
	</tr>
	<tr>
		<td>Track 1</td>
		<td>
			<canvas nx="button" id="<%= @start_1_button.identifier %>"></canvas>
		</td>
		<td>
			<canvas nx="button" id="<%= @stop_1_button.identifier %>"></canvas>
		</td>
	</tr>
	<tr>
		<td>Track 2</td>
		<td>
			<canvas nx="button" id="<%= @start_2_button.identifier %>"></canvas>
		</td>
		<td>
			<canvas nx="button" id="<%= @stop_2_button.identifier %>"></canvas>
		</td>
	</tr>
</table>