<table>
	<tr>
		<td>Tracks</td>
		<td>All</td>
		<td>Track 1</td>
		<td>Track 2</td>
	</tr>
	<tr>
		<td>Scene 1</td>
		<td>
			<span id="<%= @start_scene_1.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @start_track_1_clip_1.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @start_track_2_clip_1.identifier %>"></span>
		</td>
	</tr>
	<tr>
		<td>Scene 2</td>
		<td>
			<span id="<%= @start_scene_2.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @start_track_1_clip_2.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @start_track_2_clip_2.identifier %>"></span>
		</td>
	</tr>
	<tr>
		<td>Scene 3</td>
		<td>
			<span id="<%= @start_scene_3.identifier %>"></span>
		</td>
		<td>		
		</td>
		<td>
			<span id="<%= @start_track_2_clip_3.identifier %>"></span>
		</td>
	</tr>
	<tr>
		<td>Stop</td>
		<td>
			<span id="stop_all_scenes"></span>
		</td>
		<td>
			<span id="<%#= @stop_track_1.identifier %>"></span>
		</td>
		<td>
			<span id="<%#= @stop_track_2.identifier %>"></span>
		</td>
	</tr>
</table>

<%= @raudio %>
<%= @nexus %>
<%= @scenes %>