<table>
	<tr>
		<td>Tracks</td>
		<td>Start</td>
		<td>Stop</td>
	</tr>
	<tr>
		<td>Track 1</td>
		<td>
			<span id="<%= @start_1_button.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @stop_1_button.identifier %>"></span>
		</td>
	</tr>
	<tr>
		<td>Track 2</td>
		<td>
			<span id="<%= @start_2_button.identifier %>"></span>
		</td>
		<td>
			<span id="<%= @stop_2_button.identifier %>"></span>
		</td>
	</tr>
</table>

<%= @raudio %>
<%= @nexus %>