<%= @raudio %>
<%= @nexus %>

<table>
	<tr>
		<td>Tracks</td>
		<td>Track 1</td>
		<td>Track 2</td>
	</tr>
	<tr>
		<td>Scene 1</td>
		<td>
			<canvas nx="button" id="<%= @start_track_1_clip_1.identifier %>"></canvas>
		</td>
		<td>
			<canvas nx="button" id="<%= @start_track_2_clip_1.identifier %>"></canvas>
		</td>
	</tr>
	<tr>
		<td>Scene 2</td>
		<td>
			<canvas nx="button" id="<%= @start_track_1_clip_2.identifier %>"></canvas>
		</td>
		<td>
			<canvas nx="button" id="<%= @start_track_2_clip_2.identifier %>"></canvas>
		</td>
	</tr>
	<tr>
		<td>Scene 3</td>
		<td>
			
		</td>
		<td>
			<canvas nx="button" id="<%= @start_track_2_clip_3.identifier %>"></canvas>
		</td>
	</tr>
	<tr>
		<td>Stop</td>
		<td>
			<canvas nx="button" id="<%#= @stop_track_1.identifier %>"></canvas>
		</td>
		<td>
			<canvas nx="button" id="<%#= @stop_track_2.identifier %>"></canvas>
		</td>
	</tr>
</table>