<h1>Sounds#beat_loop</h1>
<p>Find me in app/views/sounds/beat_loop.html.erb</p>
<%= @raudio %>
<%= @nexus %>


clap loop: <canvas nx="button" id="<%= @button1.identifier %>"></canvas>
snare loop: <canvas nx="button" id="<%= @button2.identifier %>"></canvas>
stop  all: <canvas nx="button" id="<%= @button3.identifier %>"></canvas>
<canvas nx="dial"></canvas>
<canvas nx="dial"></canvas>
<canvas nx="dial"></canvas>
