<h1>Raudio test</h1>

<p>Writing a Ruby mapper around Tone.js and looking for ways to quickly import Ableton material to Tone.js.</p> 
<p>Easy gratification for musicians/producers. Mimimal amount of lines of code to get my Ableton material into Web Audio and start experimenting with the great interactive stuff right away.</p>

<p>Easy navigation to the test pages:</p>

<ul>
	<li><%= link_to 'Sine', sounds_sine_path %></li>
	<li><%= link_to 'Sampler', sounds_sampler_path %></li>
	<li><%= link_to 'Beat Loop', sounds_beat_loop_path %></li>
	<li><%= link_to 'Midi', sounds_midi_path %></li>
	<li><%= link_to 'Ableton', sounds_ableton_path %></li>
	<li><%= link_to 'Ableton Session', sounds_ableton_session_path %></li>
	<li><%= link_to 'Ableton Drumrack', sounds_ableton_drum_path %></li>
</ul>